<main>

<div class="container">

  <div class="row wow fadeIn" data-wow-delay="0.2s">

    <div class="col-lg-6">
      <div class="view overlay hm-white-light z-depth-1-half">
        <app-subtitle title="Technology Cloud"></app-subtitle>

        <angular-tag-cloud
          [data]="data"
          [width]="options.width"
          [height]="options.height"
          [overflow]="options.overflow">

        </angular-tag-cloud>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="view overlay hm-white-light z-depth-1-half">

        <app-subtitle title="Technology Tabulation"></app-subtitle>
        <table class="table-striped  table-bordered table-hover table">
          <thead>
          <tr> <th>Item</th> <th>Weight</th> </tr>
          </thead>
          <tbody>
          <tr *ngFor = "let item of data">
            <td>{{item.text}}</td>
            <td>{{item.weight}}</td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>

  </div>


</div>
</main>
